.QuickSort {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
  }
 
 .QuickSort #UnLi{
     display: inline-block;
     font-size: 25px;
     font-weight: bold;
     margin: auto;

 } 

.QuickSort .inputSwap {
    display: inline-block;
}

.QuickSort #InputSwap {
    width: 50px;
}
.QuickSort #InputSwapFirst {
    width: 15px;
    height: 10px;
}

.QuickSort #InputSwapSecond {
    width: 15px;
    height: 10px;
}

.QuickSort .inputPart {
    display: inline-block;
}

.QuickSort #InputPart {
    width: 50px;
}
.QuickSort #InputPartFirst {
    width: 15px;
    height: 10px;
}

.QuickSort #InputPartSecond {
    width: 15px;
    height: 10px;
}
#myProgress {
    width: 50%;
    background-color: #D3D3D3;
    margin: auto;
  }
    
  #myBar {
    width: 00%;
    height: 20px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 20px; /* To center it vertically */
    color: white;
  }

  .btn-group .button {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    height: 35px ;
    width: 120px;
    display: block;
  }