.QuickSort {
    width: 650px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
  }

.QuickSort #ul-div {
    width:100%;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;    
}

 .QuickSort #UnLi{
    transform: translate(-45px, 50px);
     display: inline-block;
     font-size: 25px;
     font-weight: 800;
     margin: auto;
     color: rgba(46, 200, 138, 1);
 } 

.QuickSort .inputSwap {
    transform: translate(240px, 30px);
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: larger;
    padding:10px;
    border-radius:10px;
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

#myProgress {
    transform: translate(0px, 155px);
    width: 75%;
    background-color: #D3D3D3;
    margin: auto;
  }
    
  #myBar {        
    width: 00%;
    height: 25px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 20px; /* To center it vertically */
    color: white;
  }

  .btn-group .button {
    transform: translate(50px, 95px);
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    height: 30px ;
    width: 115px;
    display: block;
  }

  .QuickSort .index-group {
    transform: translate(20px, 50px);
        display: flex;
  } 
  .QuickSort .pivot-group {
    transform: translate(20px, 50px);
      display: flex;
  }

  .QuickSort #start {
    transform: translate(270px, 180px);
  }

  .QuickSort #VerifiedInputs{
    transform: translate(20px, 20px);

  }
