.QuickSort {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
  }
 
 .QuickSort #UnLi{
     display: inline-block;
     font-size: 22px;
     font-weight: bold;

 } 

.QuickSort .inputSwap {
    display: inline-block;
}

.QuickSort #InputSwap {
    width: 50px;
}
.QuickSort #InputSwapFirst {
    width: 15px;
    height: 10px;
}

.QuickSort #InputSwapSecond {
    width: 15px;
    height: 10px;
}

.QuickSort .inputPart {
    display: inline-block;
}

.QuickSort #InputPart {
    width: 50px;
}
.QuickSort #InputPartFirst {
    width: 15px;
    height: 10px;
}

.QuickSort #InputPartSecond {
    width: 15px;
    height: 10px;
}


